<h2> YOUR FAVORITE PRODUCERS </h2>
<div class="favorite-listing">
  <% users.forEach((user) => { %>
    <div class="event-box">
      <a class="event-link" href="/producer/<%= user._id %>">
        <img src="/images/<%= user.products[0].image600 %>" alt="Product Image">
        <p> <strong><%= user.name %> </strong></p>
        <p> Product type: <%= user.products[0].name %> </p>
        <form class="deleteForm" id="delete-favorite-button" action="/producer/<%=user.id%>/delete" method="POST">
          <div class="search_button">
            <button type="submit" class="search">Delete</button>
          </div>
        </form>
      </a>
    </div>
  <%  }) %>
</div>
