<h2> YOUR CALENDAR </h2>
<div class="event-listing">
  <% events.forEach((event) => { %>
    <div class="event-box">
      <a class="event-link" href="/event/<%= event._id %>">
        <img src="/images/<%= event.products[0].image600 %>" alt="Product Image">
        <div class="event-date">
          <p class="date"><%= event.datetime.toString().substring(4, 11) %> </p>
          <p class="hour"><%= event.datetime.toString().substring(15, 21) %> h.</p>
        </div><p> <strong><%= event.title %> </strong></p>
        <p> Product type: <%= event.products[0].name %> </p>
        <form class="deleteForm" id="delete-calendar-button" action="/event/<%=event.id%>/delete" method="POST">
          <div class="search_button">
            <button type="submit" class="search"> Delete </button>
          </div>
        </form>
      </a>
    </div>
  <%  }) %>
</div>
